<div class="body_home" *ngFor="let item of itemArray">
    <div *ngIf="item.email === myemail">
        <div *ngIf="item.role === 'Direction' ">
            <div class="nav_home">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" id="Dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Plan">Plan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Today">Today</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Journal">Journal</a>
                    </li>
                </ul>
            </div>

            <div class="contenue">
                <span *ngIf="isLoggedIn == true"> true</span>
                <span *ngIf="isLoggedIn == false">false</span>
                <div id="dashboard">dashboard</div>
                <div id="plan">plan</div>
                <div id="today">today</div>
                <div id="journal">journal</div>
            </div>

        </div>
        <div *ngIf="item.role != 'Direction' ">
            <div class="alert alert-danger" role="alert">
                <strong>403 Forbidden : </strong>vous n'avez pas l’autorisation pour afficher cette page .

            </div>

        </div>
    </div>