<div class="container">

    <div class="row">
        <div class="col-sm-4">
            <div class="card text-white bg-danger mb-3 d-inline-block" style="max-width: 20rem;">
                <div class="card-header"><img src="../../assets/img/Consultants/Gara.jpg" class="img-fluid img-circle" /> By Mohamed Gara</div>
                <div class="card-body">
                    <h4 class="card-title"> Working time </h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer">
                    <span class="left"><i class="far fa-thumbs-up"></i></span>
                    <span class="right"><i class="far fa-thumbs-down"></i></span>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card text-white bg-danger mb-3 d-inline-block" style="max-width: 20rem;">
                <div class="card-header"><img src="../../assets/img/Customer/asa_logo.png" class="img-fluid img-circle" /> By All Seas Shipping</div>
                <div class="card-body">
                    <h4 class="card-title"> DeadLine </h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer">
                    <span class="left"><i class="far fa-thumbs-up"></i></span>
                    <span class="right"><i class="far fa-thumbs-down"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>