.container {
    padding: 0
}

.conge {
    background: #fff;
    width: 65%;
    border: 1px solid #ccc;
    margin: auto;
    .header {
        padding: 2%;
        background: #243556;
        color: #eee;
        font-weight: 500;
    }
    .body {
        padding: 5%;
        background: #f5f5f5;
        .valid {
            background: #243556;
            color: #fff;
        }
    }
}