.container {
    h1 {
        font-size: 30px;
        color: #25A9D9 !important;
        text-align: center !important;
    }
    h6 {
        text-align: center !important;
        font-weight: 600;
        font-size: 15px;
        line-height: 24px !important;
        color: #4A4A4A;
    }
}