<table class="table table-hover table-striped table-responsive">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>société</th>
            <th>From</th>
            <th>To</th>
            <th>Date Création</th>
            <th>Date Livraison</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td><b>ALL SEAS SHIPPING</b></td>
            <td>Mark</td>
            <td><b>Aymen Ben Zbiba</b></td>
            <td>22/01/2020 14:30</td>
            <td>25/01/2020</td>
            <td><button type="button" class="btn btn-outline-info" routerLink="/DetailsTask/{id}">PLUS</button></td>

        </tr>

    </tbody>
</table>
