<div class="body_home">
    <div class="nav_home">
        <ul class="nav justify-content-center">

            <li class="nav-item">
                <a aria-label="Besoin Client !" data-balloon-pos="down" class="nav-link" id="Dashboard">
                    <i class="fas fa-tasks"></i>
                </a>
            </li>
            <li class="nav-item">
                <a aria-label="état Projet !" data-balloon-pos="down" class="nav-link" id="Journal">
                    <i class="fas fa-code-branch"></i> </a>
            </li>
            <li class="nav-item">
                <a aria-label="Réunion avec client !" data-balloon-pos="down" class="nav-link" id="Today">
                    <i class="far fa-handshake"></i>
                </a>
            </li>
            <li class="nav-item">
                <a aria-label="Dynamix Services" data-balloon-pos="down" class="nav-link" id="Plan">
                    <i class="fas fa-cube"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="contenue">
        <div id="dashboard">
            <div class="besoin">
                <h5 id="hide01"><i class="fas fa-search-plus"></i></h5>
                <h5 id="hide"><i class="fas fa-eye-slash"></i></h5>
                <h6>Création dashboard</h6>
                <h3>23/01/2020 10:10</h3>
                <p id="desc-besoin">
                    This work includes material that may be protected as a trademark in some jurisdictions. If you want to use it, you have to ensure that you have the legal right to do so and that you do not
                </p>
            </div>


        </div>
        <div id="plan">
            <div class="dynamix">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="ressource">
                            <h5 id="hide"><i class="fas fa-eye-slash"></i></h5>
                            <h6>Création dashboard</h6>
                            <h3>23/01/2020 10:10</h3>
                            <p id="desc-besoin">
                                This work includes material that may be protected as a trademark in some jurisdictions. If you want to use it, you have to ensure that you have the legal right to do so and that you do not
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>













        <div id="today">today</div>




















        <div id="journal">
            <div class="etatprojet">

                <div class="row">
                    <div class="col-sm-4">
                        <div class="release">
                            <h5><i class="fas fa-sync-alt"></i></h5>
                            <h6>Release N°1</h6>
                            <h3>du 23/01/2020 10:10 <i class="fas fa-arrow-right"></i> 03/02/2020 17:00</h3>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <p id="desc-besoin">
                                This work includes material that may be protected as a trademark in some jurisdictions. If you want to use it, you have to ensure that you have the legal right to do so and that you do not
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="release">
                            <h5><i class="fas fa-sync-alt"></i></h5>
                            <h6>Release N°2</h6>
                            <h3>du 23/01/2020 10:10 <i class="fas fa-arrow-right"></i> 03/02/2020 17:00</h3>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <p id="desc-besoin">
                                If you want to use it, you have to ensure that you have the legal right to do so and that you do not
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="release">
                            <h5><i class="fas fa-sync-alt"></i></h5>
                            <h6>Release N°3</h6>
                            <h3>du 23/01/2020 10:10 <i class="fas fa-arrow-right"></i> 03/02/2020 17:00</h3>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 2%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <p id="desc-besoin">
                                This work includes material that may be protected as a trademark in some jurisdictions.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>

</div>
