.card {
    transition: ease-in 0.1s;
    -webkit-transition: ease-in 0.1s;
    -moz-transition: ease-in 0.1s;
    -ms-transition: ease-in 0.1s;
    -o-transition: ease-in 0.1s;
}

.card:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    transition: ease-out 0.2s;
    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    -ms-transition: ease-out 0.2s;
    -o-transition: ease-out 0.2s;
}