<div *ngFor="let item of itemArray">
    <div *ngIf="item.email === myemail">
        <div *ngIf="item.role === 'Direction' ">



            <div class="container project">
                <button class="btn btn-succcess" id="conftbtn" routerLink="/AddP"> Add project</button>

                <div class="row">
                    <div class="col-sm-4" *ngFor="let response of listeResponse">
                        <div class="card">
                            <img class="card-img-top" src="../../assets/img/Customer/agile.png" alt="Card image cap" class="img-fluid">
                            <div class="card-body">
                                <h4 class="card-title">{{response.titre}}</h4>
                                <p class="card-text"> {{response.description}}</p>
                                <h5>Date Début :{{response.datdeb | date:'dd-MM-yyyy'}} </h5>
                                <h5>Deadline : {{response.datefin | date:'dd-MM-yyyy'}} </h5>
                                <button type="button" class="btn btn-outline-primary btn-block" routerLink="/Detaitsprojects/{{response.id}}">Let's GO</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div *ngIf="item.role != 'Direction' ">
            <app-forbidden *ngIf="item.role != 'Direction' "></app-forbidden>

        </div>
    </div>
</div>